/* .container{
    margin:auto;
    width: 100px;
    ;
    
} */
/* .image{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 40%;
    height: 600px;
    background-color: gray;
    background-repeat: no-repeat;
  } */
  #abc{
      padding-left: 500px;
  }
  
  
  



