<!-- <div class="container">
  
    
    <div class="image">
        <button type="button" (click)="User()" class="btn">User</button>
    <button  type="button" (click)="Admin()" class="btn">Admin</button>
  
    </div>
  
</div> -->
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container" id="abc">
  

  <div class="w3-card-4 w3-dark-grey" style="width:50%">

    <div class="w3-container w3-center">
      
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:80%">
      <h5>John Doe</h5>

      <div class="w3-section">
        <button class="w3-button w3-green" type="button" (click)="User()">User Login</button>
        <button class="w3-button w3-red" type="button" (click)="Admin()" >Admin Login</button>
      </div>
    </div>

  </div>
</div>