<div class="container">
  <form [formGroup] = "form" (ngSubmit)="login()">
    <h1>Student Login</h1>
    

  <div class="form-group">
    <label for="">StudentID</label>
    <input type="text" class="form-control" formControlName="StudentID" id="StudentID"/>
    <div >
     
      <small *ngIf="f['StudentID'].invalid && f['StudentID'].touched" class="text-danger">StudentID is incorrect !</small>

    </div> 
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input type="password" class="form-control"  formControlName="password" id="password"/>
  
      <div  >
       
        <small *ngIf="f['password'].invalid && f['password'].touched" class="text-danger">please enter the correct password !</small>
  
      </div> 
    </div>
     <button [disabled]="form.invalid" class="btn">Login</button>
    <div class="Register">Not a member?<a href="register">Register</a></div>
  </form>
</div>
